fastapi
uvicorn
sqlalchemy
aiosqlite
passlib==1.7.4
bcrypt==4.0.1
pydantic-settings
pyjwt
pydantic
python-multipart
git+https://github.com/yt-dlp/yt-dlp.git@master
slowapi
cryptography
httpx
itsdangerous
bgutil-ytdlp-pot-provider  